// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header{
    background-color:rgba(0,0,0,0.2);
    padding: 1rem 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}

.mainNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu--desktop{
    @include mq('tablet','max'){
        display: none;
    }

    & > .nav{
        list-style-type: none;
        display: flex;
        gap: 2rem;

    }
}

.nav__menu--movil{
    @include mq('tablet','min'){
        display: none;
    }
}