.container{
    &--classic{
        max-width: $max-width;
        margin: 0 auto;
    }

    &--fluid{
        display: grid;
        grid-template-columns: [full-width-start] 100px [breakout-start] 100px [content-start] 1fr [content-end] 100px [breakout-end] 100px [full-width-end];
    }
}

$bg: black;

body {
    background-color: $bg;
    height: 100vh;
}

.contenedor{
    position: relative;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

main{
    display: flex;
    flex-direction: column;
    width: 75%;

    .hero{
        min-height: 20%;
        margin-bottom: 0.2rem;
    }
}

.contenido{
    display: flex;

    img{
        max-width: 100%;
    }
}
